{:paths ["resources" "src"]
 :deps  {org.clojure/clojure       {:mvn/version "1.10.1"}
         seancorfield/next.jdbc    {:mvn/version "1.0.9"}
         org.postgresql/postgresql {:mvn/version "42.2.5"}}
 :aliases
        {:dev       {:extra-paths ["dev"]}
         :cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.22.4"}}
                     :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
         :test      {:extra-paths ["test"]
                     :extra-deps  {io.zonky.test/embedded-postgres {:mvn/version "1.2.6"}
                                   lambdaisland/kaocha             {:mvn/version "0.0-529"}
                                   org.clojure/test.check          {:mvn/version "0.10.0"}}}

         :nrepl {:extra-deps {nrepl {:mvn/version "RELEASE"}}
                 :main-opts ["-m" "nrepl.cmdline"]}

         :test-runner {:extra-paths ["test"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-554"}}}

         :bootstrap {:main-opts ["-m" "clj-lx.bootstrap"]}

         :pack       {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                    :sha "d9023b24c3d589ba6ebc66c5a25c0826ed28ead5"}}
                      :main-opts ["-m"]}

         :bump {:main-opts ["-m" "garamond.main"]
                :extra-deps {com.workframe/garamond {:mvn/version "0.4.0"}}}

         :deploy {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}
                  :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "clj-pgqueue.jar"]}}}
