CREATE TABLE IF NOT EXISTS :table-name (
    id SERIAL,
    queue_name varchar,
    payload bytea,
    status varchar,
    created_at timestamp default now(),
    updated_at timestamp
);

CREATE INDEX :table-name_claim_idx ON :table-name (status, queue_name)
    WHERE (status = 'new');
